body{
    text-align: center;
    background-color: #babcb3;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 70px;
}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(#524138, transparent);
    text-shadow: 1px 2px grey;
    justify-content: space-between;
    text-decoration: none;
}

#volo-profile-photo{
   border-radius: 60%;
}

#index-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10%;
    justify-content: space-between;
    text-justify: distribute-all-lines;
}

#tavern-scene{
    width: 40%;
    padding-right: 0;
    border-radius: 10px;
}
#books-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-tile{
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(grey, transparent);
    padding: 10px;
    margin: auto;
}
.product-image{
    height: 300px;
    width: 200px;

}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: radial-gradient(grey, transparent);
    padding: 10%;
   max-width: 400px;
}
#testimonials{

}
.testimonial-tile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 80px;
}
.testimonial-face{
    width: 100px;
    border-radius: 20px;
}

.box {
    width: 300px;
    background: white;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    position:relative;
  }
  .speech-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
  }
  .speech-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 6px;
  }

/* CSS for smaller screens */
@media only screen and (max-width: 600px) {
    #header{
        flex-direction: column-reverse;
    }
  }